<div class="post">
	<h2 class="title"><a name="content" href="#">{{title}}</a></h2>
	<div id="dzMain">
		<p class="meta">PARTIELLEMENT Propos&eacute; par <a href="mailto:spires@wemanity.com?Subject=Sitesample&amp;Body=Your%20message%20here%20!">Steve PIRES</a> le 19 Septembre 2016
			&nbsp;&bull;&nbsp; <a href="#" class="comments">11 commentaires</a> &nbsp;&bull;&nbsp; <a href="#" class="permalink">Voir l'article</a></p>
		<div class="entry">
			<p>Tu te trouves à présent dans <span class="info">{{SOCIETY.name}} !</span></p>
			<p>Si tu as besoin de renseignements, adresse-toi à <span class="info">{{user.civility + ' ' + user.surname}} {{user.name | uppercase}}</span>.</p>
			<p>S'il n'est pas là, tu peux lui envoyer une missive électronique à <span class="info">{{SOCIETY.email}}</span>, ou encore l'appeler directement au <span class="info">{{SOCIETY.tel}}</span></p>
		</div>
	</div>
</div>