<div class="post">
	<h2 class="title"><a name="content" href="#">Bienvenue dans l&eacute;choppe runique, guerrier !</a></h2>
	<div id="dzMain">
		<p class="meta">PARTIELLEMENT Propos&eacute; par <a href="mailto:spires@wemanity.com?Subject=Sitesample&amp;Body=Your%20message%20here%20!">Steve PIRES</a> le 19 Septembre 2016
			&nbsp;&bull;&nbsp; <a href="#" class="comments">11 commentaires</a> &nbsp;&bull;&nbsp; <a href="#" class="permalink">Voir l'article</a></p>
		<div class="entry">
			<p><img src="images/site/welcome.jpg" width="598" height="250" alt="Welcome to my online shop website" class="border" longdesc="You're welcome to My online shop, the website sample used to learn web development !" />Bienvenue dans mon <strong>&eacute;choppe runique</strong> guerrier ! <br />
			Vous ne trouverez ici que les meilleures pi&egrave;ces d'armure et les plus fines lames au monde... aux meilleurs prix biens&ucirc;r !</p>
			<p>Un exemple de nos meilleurs produits disponibles en ce moment :</p>
			<ul>
				<li>Massue &agrave; pointes s&eacute;culaire</li>
				<li>Ep&eacute;e val&eacute;rienne</li>
				<li>Armure compl&egrave;te en mithril</li>
				<li>Ep&eacute;e impreign&eacute;e du feu c&eacute;leste</li>
				<li>et bien d'autres tr&eacute;sors !</li>
			</ul>
		</div>
	</div>
</div>